body{
    text-align: center;
}

.box-container{
    display: flex;
    justify-content: center;
     
}
.button{
    height: 200px;
    width: 200px;
    border: 15px solid black;
    border-radius: 30%;
    margin: 2rem;
}

.red{
    background-color: brown;
}

.yellow{
    background-color: yellow;
}

.purple{
    background-color: blueviolet;
}

.green{
    background-color: green;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: black;
}

 